.header{
    height: 60px;
    width: 100%;
    background-color: rgba(34, 49, 52, 0.9);
    color: #fff;
}

.title{
    float: left;
    line-height: 60px;
    font-size: x-large;
    margin: 0px 10px;
}

.headernav{
    position:relative ;
    margin-left: 25%; 
}

.navi{
    float: left;
    line-height: 60px;
    display: block;
    padding: 0px 10px;
    transition: all 0.5s;
}

.navi:hover{
    color: red;
    background-color: rgba(255, 255, 255, 0.5);
}

.link{
    display: block;
}

.registration{
    background-color:  rgba(255, 255, 255, 0.2);
    float: right;
    line-height: 60px;
    padding: 0px 10px;
}