.header{
    height: 60px;
    background-color: rgba(34, 49, 52, 0.9);
    color: #fff;
}

.title{
    float: left;
    line-height: 60px;
    font-size: x-large;
    margin: 0px 10px;
}

.headernav{
    position:relative ;
    margin-left: 25%; 
}

.navi{
    float: left;
    line-height: 60px;
    display: block;
    padding: 0px 10px;
    transition: all 0.5s;
}

.navi:hover{
    color: red;
    background-color: rgba(255, 255, 255, 0.5);
}

.link{
    display: block;
}

.registration{
    background-color:  rgba(255, 255, 255, 0.2);
    float: right;
    line-height: 60px;
    padding: 0px 10px;
}

.time{
    line-height: 60px;
    float: right;
    padding: 0px 10px
}

@media (max-width: 620) {
    
    .header {
        height: auto;
        padding: 10px;
    }

    .title {
        float: none;
        text-align: center;
        font: large;
        margin: 0 10px;
    }

    .header :global(nav),
    .header :global(ul),
    .header :global(li) {
        display: block;
        width: 100%;
        padding: 0;
        margin: 0;
        list-style: none;
    }

    .registration {
        display: none;
    }

    .time,
    .headernav {
        float: none;
        display: block;
        width: 90%;
        margin: 10px auto;
        text-align: center;
        position: static;
    }

    .time {
        line-height: 30px;
    }

    .headernav :global(.navi) {
        float: none;
        display: block;
        width: 100%;
        text-align: center;
        line-height: 30px;
        padding: 0;
        margin-bottom: 5px;
    }
}

