.room{
    background-color: rgba(224, 77, 77, 0.945);
    text-align: center;
    border: solid 1;
    border-radius: 8px;
    padding: 8px 0px;
    width: 100px;
    height: 130px;
}
.toilet{
    border: solid 1;
    border-radius: 8px;
    padding: 8px 0px;
    width: 70px;
    height: 100px;
}
.stair{
    border: solid 1;
    border-radius: 8px;
    padding: 8px 0px;
    width: 70px;
    height: 100px;
}
.eleveter{
    border: solid 1;
    border-radius: 8px;
    padding: 8px 0px;
    width: 70px;
    height: 100px;
}
.road{
    text-align: center;
    border: solid 1;
    border-radius: 8px;
    padding: 8px 0px;
    width: 100px;
    height: 130px;
}
.roomEmpty{
    background-color: rgba(148, 230, 255, 0.945);
    text-align: center;
    border: solid 1;
    border-radius: 8px;
    padding: 8px 0px;
    width: 100px;
    height: 130px;
}
.roomname{
    font-size: large;
    text-align: center;
    font-weight: 500;
}
.content{
    font-size: 0.68rem;
    text-align: left;
    font-weight: 400;
    margin-top: 8px;
    margin-left: 10px;
    opacity: 1;
}
.contentE{
    font-size: 0.8rem;
    text-align: center;
    font-weight: 400;
    margin-top: 15px;
    margin-left: 10px;
    opacity: 1;
}
.baseBtn{
    font-size: smaller;
    color: #0066ff;
    width: 100%;
    margin: 10px 0;
    border: 0;
    cursor: pointer;
    opacity: 1;
}
