.floor{
    border: solid 1;
    width: fit-content;
}
.floorName{
    border: solid 1;
    color: black;

}
.floorall{
    display: flex;
    position: relative;
}
.floorleft{
    float: left;
}
.floorright{
    float: right;
}
.floorContent{
    margin: 3px;
}